$cabin: 'Cabin', sans-serif;
$lobster: "Lobster", sans-serif;
$blanco: #f4f4f4;
$cover: cover;
$center: center;
$flex: flex;
$wrap: wrap;
$border-box: border-box;
$normal: normal;
$capitalize: capitalize;
$auto: auto;
$absolute: absolute;
$relative: relative;
$negroTransparente: rgba(0, 0, 0, 0.5);