
.main__principal {
    position: relative; /* Posicionamiento relativo para posibles contenidos absolutos */
    height: 100vh; /* Altura completa de la ventana para asegurar que no sea más grande que la pantalla */
    display: flex; /* Usa Flexbox para alinear contenido */
    justify-content: center; /* Centra contenido horizontalmente */
    align-items: center; /* Centra contenido verticalmente */
    padding: 0; /* Elimina cualquier padding que pueda afectar el centrado */
    margin: 0; /* Elimina cualquier margen que pueda afectar el centrado */
    
    
}



